<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{title: 'Editar'}) %> 

<body>
    <%- include('../partials/header') %>
    <h1 class="titulo">Editar Productos</h1>
    <main class="crear">
        <div class="parrafo-form">
            <p class="saludo">¡Bienvenidx ADMIN!</p>           
        </div>
        <form action="/administrador/editar/<%= producto.id %>?_method=PUT" enctype="multipart/form-data" method="post" class="create-form">
            <div class="control-formulario">
                <label for="floatingSelect">Marca</label>
                <select class="control" name="marca" id="floatingSelect" aria-label="Floating label select example">
                    <% marca.forEach(marca => { %>
                        <option value="<%= marca %>" <%= producto.marca.toLowerCase() === marca.toLowerCase() ? 'selected' : null %> ><%= marca %></option>
                      <% }) %>
                  </select>
                  
            </div>
            <div class="control-formulario">
                <label>Título</label>
                <input type="text" name="titulo" placeholder="Ingrese el título"
                    autocomplete="current-password" value="<%= locals.old && old.titulo ? old.titulo :  producto.titulo %>" id="titulo" class="control" />
                    <p class="error">
                        <%= locals.errors && errors.titulo ? errors.titulo.msg : null %> 
                    </p>
            </div>
            <div class="control-formulario">
                <label for="floatingSelect">Categoria</label>
                <select class="control" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                    <% categoria.forEach(categoria => { %>
                        <option value="<%= categoria %>" <%= producto.categoria.toLowerCase() === categoria.toLowerCase() ? 'selected' : null %> ><%= categoria %></option>
                      <% }) %>
                  </select>
                  
                
            </div>
            
            <div class="control-formulario">
                <label>Precio</label>
                <input type="number" name="precio" placeholder="Ingrese el precio"
                value="<%= locals.old && old.precio ? old.precio : producto.precio%>" id="precio" class="control" />
                     <p class="error">
                        <%= locals.errors && errors.precio ? errors.precio.msg : null %>
                    </p>
            </div>
            <div class="control-formulario">
                <label>Descuento</label>
                <input type="number" name="descuento" placeholder="Ingrese el procentaje de descuento"
                value="<%= locals.old && old.descuento ? old.descuento : producto.descuento%>" id="descuento" class="control" />
                     <p class="error">
                        <%= locals.errors && errors.descuento ? errors.descuento.msg : null %>
                    </p>
            </div>
            <div class="control-formulario">
                <label>Stock</label>
                <input type="number" name="stock" placeholder="Ingrese el stock"
                value="<%= locals.old && old.stock ? old.stock : producto.stock%>" id="stock" class="control" />
                     <p class="error">
                        <%= locals.errors && errors.stock ? errors.stock.msg : null %>
                    </p>
            </div>
            <div class="control-formulario">
                <label>Descripción</label>
                <textarea class="texto" id="descripcion" name="descripcion" - placeholder="Introduzca una breve descripción del producto" ><%= locals.old && old.descripcion ? old.descripcion : producto.descripcion%></textarea >
                    <p class="error">
                        <%= locals.errors && errors.descripcion ? errors.descripcion.msg : null %>
                    </p>
                </div>
                
            </div>
            
                        
                <div class="control-formulario">
                    
                    <img src="/images/productos/<%= producto.imagenes[0] %>" class="imagedit">
                    <label>Cambiar imagen</label>
                    <input class="imagen" - type="file" name="imagen" placeholder="Introduzca la imagen del producto"
                         value="" class="control" />
                </div>
            <button type="submit" class="boton-formulario">Editar producto</button>

            
        </form>

        
    </main>
    <%- include('../partials/footer') %> 
</body>

    
</body>
</html>