<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{title: 'Editar'}) %> 

<body class="crear">
    <%- include('../partials/header') %>
    <h1 class="titulo">Editar Productos</h1>
    <main class="crear">
        <div class="parrafo-form">
            <p class="saludo">¡Bienvenidx ADMIN!</p>           
        </div>
        <form action="/admin/editar/<%= producto.id %>" method="post" class="create-form">
            <div class="control-formulario">
                <label for="floatingSelect">Marca</label>
                <select class="control" name="Marca" id="floatingSelect" aria-label="Floating label select example">
                    <option selected hidden>Selecciona una opcion</option>
                    <option value="Elements">Element</option>
                    <option value="Lab">Lab</option>
                    <option value="Kalima">Kalima</option>
                    <option value="Woodo">Woodo</option>
                    <option value="Thrasher">THRASHER</option>
                    <option value="Sandro moral 777">SANDRO MORAL 777</option>
                    <option value="Tuxs">TUXS</option>
                    <option value="Pura vida">Pura vida</option>
                    <option value="Spitfire">SPITFIRE</option>
                    <option value="Bones">Bones</option>
                    <option value="Otros">Otros</option>
                  </select>
            </div>
            <div class="control-formulario">
                <label>Título</label>
                <input type="name" name="titulo" id="titulo" placeholder="Ingrese el título"
                    autocomplete="current-password" value="<%= producto.titulo %>" class="control" />
            </div>
            <div class="control-formulario">
                <label for="floatingSelect">Categoria</label>
                <select class="control" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                    <option selected hidden>Selecciona una opcion</option>
                    <option value="Skates">Skates</option>
                    <option value="Longboards">Longboards</option>
                    <option value="Accesorios">Accesorios</option>
                    <option value="Partes">Partes</option>
                  </select>
            </div>
            <div class="control-formulario">
                <label>Precio</label>
                <input type="number" name="nombre" placeholder="Ingrese el precio"
                     value="<%=producto.precio%>" class="control" />
            </div>
            <div class="control-formulario">
                <label>Descuento</label>
                <input type="number" name="nombre" placeholder="Ingrese el procentaje de descuento"
                     value="<%=producto.descuento%>" class="control" />
            </div>
            <div class="control-formulario">
                <label>Stock</label>
                <input type="number" name="nombre" placeholder="Ingrese el stock"
                     value="<%=producto.stock%>" class="control" />
            </div>
            <div class="control-formulario">
                <label>Descripción</label>
                <textarea class="texto" - placeholder="Introduzca una breve descripción del producto" ><%= producto.descripcion %></textarea >
                
            </div>
            <div class="control-formulario">
                <label>Imagen</label>
                <input class="imagen" - type="file" name="imagen" placeholder="Introduzca la imagen del producto"
                     value="" class="control"  multiple/>
            </div>
            
            <button type="submit" class="boton-formulario">Editar Producto</button>

            
        </form>

        
    </main>
    <%- include('../partials/footer') %> 
</body>

    
</body>
</html>