<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: locals.usuarioIngresar.nombre}) %> 

<body >
    <%- include('./partials/header') %>
    <main class="perfil">
        <h1>Hola <%= `${locals.usuarioIngresar.rol} ${locals.usuarioIngresar.nombre}!` %>  </h1>
        <img src="/images/usuarios/<%= locals.usuarioIngresar.imagen %> " alt="">
        <form action="/usuarios/desconectar?_method=DELETE" method="post" >

            <button class="cerrar" type="submit">Cerrar session</button>
        </form>
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>