<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{title: 'Registro'}) %> 
    <link rel="stylesheet" href="/css/register.css">
   
<body>
    <%- include('./partials/header') %>    
    <main class="crear">
        <div class="parrafo-form">
            <p>¡Bienvenido a Skull Tienda Urbana!</p>
            <p>
                ¡Crea una cuenta para realizar compras, crear listas de deseos y
                seguir a tus marcas favoritas!
            </p>
        </div>
        <form action="/usuarios/registro"   enctype="multipart/form-data" method="POST" class="create-form">
            <div class="control-formulario">
                <label>Correo Electronico:</label>
                <input type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : null%>"
                    placeholder="Introduzca la dirección de correo electrónico" 
                    class="control" />
                    <% if (locals.errors && errors.email) { %>
                        <small class="error"><%= errors.email.msg %></small>
                    <% } %>
            </div>
            <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" id="clave" name="clave" placeholder="Ingresa tu contraseña"
                     value="" class="control" />
                    <% if (locals.errors && errors.clave) { %>
                        <small class="error"><%= errors.clave.msg %></small>
                    <% } %>
            </div>
            <div class="control-formulario">
                <label>Confirmar Contraseña:</label>
                <input type="password" id="clave2" name="clave2" placeholder="Ingresa tu contraseña"
                     value="" class="control" />
                     <% if (locals.errors && errors.clave2) { %>
                        <small class="error" ><%= errors.clave2.msg %></small>
                    <% } %>
            </div>
            <div class="control-formulario">
                <label>Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre"
                     value="<%= locals.old && old.nombre ? old.nombre : null%>" class="control" />
                     <% if (locals.errors && errors.nombre) { %>
                        <small class="error"><%= errors.nombre.msg %></small>
                    <% } %>
            </div>
            <div class="control-formulario">
                <label>Apellido:</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu Apellido"
                     value="<%= locals.old && old.nombre ? old.nombre : null%>" class="control" />
                     <% if (locals.errors && errors.apellido) { %>
                        <small class="error"><%= errors.apellido.msg %></small>
                    <% } %>
            </div>
            <div class="control-formulario">
                <label>Imagen</label>
                <input class="imagen" - type="file" name="imagen" placeholder="Introduzca su foto de perfil"
                     value="" class="control" />
                     <% if (locals.errors && errors.imagen) { %>
                        <small class="error"><%= errors.imagen.msg %></small>
                    <% } %>
            </div>
            <div class="control-formulario">
            <button type="submit" class="boton-formulario">Crear mi cuenta</button>
            <button type="reset" class="boton-formulario">Cancelar</button>
        </div>
            
        </form>

        
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>